import java.math.*;
import static java.lang.Math.*;
public class FormulaImpl extends Formula {


    @Override
    public Number calculate(Number ... args) {

        %ARGS_INIT%

        return %FORMULA%;

    }

    @Override
    public String stringFormula() {
        return "%FORMULA%";
    }

}